<PageTitle>@Title</PageTitle>

<Title Size="TitleSize.Is3">
    @Title
</Title>
<SubTitle Size="TitleSize.Is5">
    @ChildContent
</SubTitle>

<div style="margin-top:60px;border-bottom:1px solid #ccc;margin-bottom:30px">

</div>


@code{
    [Parameter]public string? Title{ get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}